.swiper-pagination-bullet {
    background-color: #8a8a8a !important;
    height: 12px !important;
    width: 12px !important;
}

.swiper-pagination-bullet-active {
    background-color: #868686 !important;
}

.swiper-pagination {
    position: absolute !important;
    width: 100px !important;
    bottom: 0px;
    overflow: hidden;
}

.project-mobile-hide {
    height: 100px;
    transition: 400ms;
    overflow: hidden;
}

.project-mobile-show {
    height: var(--height-show);
    transition: 400ms;
    overflow: hidden;
}

@media only screen and (min-width : 768px) {
    .swiper-pagination-bullet {
        height: 20px !important;
        width: 20px !important;
    }

    .swiper-pagination {
        position: absolute !important;
        width: 100% !important;
        bottom: 0px;
        overflow: hidden;
    }
}

@keyframes FaqOpen {
    from {
        height: 0px;
    }
    to {
        height: var(--faq-height);
    }
}

@keyframes FaqClose {
    from {
        height: var(--faq-height);
    }
    to {
        height: 0px;
    }
}

.faq-open {
    animation: FaqOpen both 400ms;
}

.faq-close {
    animation: FaqClose both 400ms;
}